# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
*.swo

# MediaPipe model assets
models/*.task

# schematics stuff (prob scrapped)
car_schematic/